@model IEnumerable<YYBusService04.Models.routeSchedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isWeekDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busRoute.routeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isWeekDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busRoute.routeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.routeScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.routeScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.routeScheduleId })
        </td>
    </tr>
}

</table>
